In [2]:
using DataFrames

In [3]:
df = DataFrame(A=1:4, B=["M", "F", "F", "M"])

4×2 DataFrame
 Row │ A      B
     │ Int64  String
─────┼───────────────
   1 │     1  M
   2 │     2  F
   3 │     3  F
   4 │     4  M

In [5]:
df = DataFrame(A=1:5, B=["Bib", "Inst", "#I", "#N", "CPU (.s)"])

5×2 DataFrame
 Row │ A      B
     │ Int64  String
─────┼─────────────────
   1 │     1  Bib
   2 │     2  Inst
   3 │     3  #I
   4 │     4  #N
   5 │     5  CPU (.s)

In [15]:
df = DataFrame(Bib=String[], Inst=String[], Var=Int[], Const=Int[], DomConst=Int[], Conconst=Int[], CoverI=Int[], Nodes=Int[], Gap=Float64[], CPU=Float64[])

0×10 DataFrame

In [16]:
push!(df, Dict(:Bib => "F", :Inst => "3"))

LoadError: ArgumentError: `push!` with `cols` equal to `:setequal` requires `row` to have the same number of elements as the number of columns in `df`.

In [42]:
ResultDict=Dict(:Bib=>"", :Inst=>"", :Var=>1, :Const=>1, :DomConst=>1, :Conconst=>1, :CoverI=>1, :Nodes=>1, :Gap=>1, :CPU=>1)
ResultDict

Dict{Symbol, Any} with 10 entries:
  :Inst     => ""
  :Nodes    => 1
  :DomConst => 1
  :CPU      => 1
  :Gap      => 1
  :Const    => 1
  :Bib      => ""
  :Var      => 1
  :CoverI   => 1
  :Conconst => 1

In [39]:
ResultDict = Dict(:Bib=>"", :Inst=>"", :Var=>1, :Const=>1, :DomConst=>1, :Conconst=>1, :CoverI=>1, :Nodes=>1, :Gap=>1, :CPU=>1)

Dict{Symbol, Any} with 10 entries:
  :Inst     => ""
  :Nodes    => 1
  :DomConst => 1
  :CPU      => 1
  :Gap      => 1
  :Const    => 1
  :Bib      => ""
  :Var      => 1
  :CoverI   => 1
  :Conconst => 1

LoadError: ArgumentError: syntax df[column] is not supported use df[!, column] instead

In [28]:
df=DataFrame(Bib=String[], Inst=String[], Var=Int[], Const=Int[], DomConst=Int[], Conconst=Int[], CoverI=Int[], Nodes=Int[], Gap=Float64[], CPU=Float64[])

0×10 DataFrame

In [30]:
push!(df, ResultDict)

2×10 DataFrame
 Row │ Bib     Inst    Var    Const  DomConst  Conconst  CoverI  Nodes  Gap    ⋯
     │ String  String  Int64  Int64  Int64     Int64     Int64   Int64  Float6 ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │                     1      1         1         1       1      1      1. ⋯
   2 │                     1      1         1         1       1      1      1.
                                                               2 columns omitted

In [33]:
typeof(ResultDict)

Dict{Symbol, Any}

In [44]:
ResultDict[:Bib]

""

In [70]:
using CSV
using DataFrames
df = DataFrame(CSV.File("Expes/08/Results/results.csv"))
show(stdout, MIME("text/latex"), delete!(df, 21))

\begin{tabular}{r|ccccccccc}
	& Bib & Inst & Var & Const & DomConst & CoverI & Nodes & Gap & CPU\\
	\hline
	& String & String & Int64 & Int64 & Int64 & Int64 & Int64 & Float64 & Float64\\
	\hline
	1 & 0 & scenario\_1.txt & 47105 & 145307 & 1 & 0 & 0 & 202.14 & 20.03 \\
	2 & 0 & scenario\_10.txt & 19112 & 58980 & 2 & 0 & 0 & 120.18 & 17.38 \\
	3 & 0 & scenario\_11.txt & 55881 & 172321 & 3 & 0 & 0 & 65.31 & 20.15 \\
	4 & 0 & scenario\_12.txt & 29295 & 90433 & 1 & 0 & 0 & 132.04 & 4.14 \\
	5 & 0 & scenario\_13.txt & 34081 & 105219 & 2 & 0 & 0 & 99.92 & 8.27 \\
	6 & 0 & scenario\_14.txt & 38822 & 119806 & 0 & 0 & 0 & 92.73 & 26.06 \\
	7 & 0 & scenario\_15.txt & 56507 & 174191 & 1 & 0 & 0 & 259.0 & 20.09 \\
	8 & 0 & scenario\_16.txt & 33379 & 103077 & 2 & 0 & 0 & 79.78 & 20.31 \\
	9 & 0 & scenario\_17.txt & 43915 & 135489 & 0 & 0 & 0 & 568.43 & 9.56 \\
	10 & 0 & scenario\_18.txt & 39127 & 120749 & 1 & 0 & 0 & 594.32 & 16.76 \\
	11 & 0 & scenario\_19.txt & 53210 & 164114 & 5 & 0 & 0 & 169.61 & 22.85 \\
	12 & 0 & scenario\_2.txt & 47405 & 146209 & 0 & 0 & 0 & 306.57 & 11.79 \\
	13 & 0 & scenario\_20.txt & 49725 & 153355 & 0 & 0 & 0 & 389.03 & 8.73 \\
	14 & 0 & scenario\_3.txt & 56331 & 173651 & 1 & 0 & 0 & 234.85 & 13.98 \\
	15 & 0 & scenario\_4.txt & 50671 & 156253 & 0 & 0 & 0 & 214.56 & 11.01 \\
	16 & 0 & scenario\_5.txt & 56348 & 173712 & 2 & 0 & 0 & 779.87 & 12.68 \\
	17 & 0 & scenario\_6.txt & 49575 & 152935 & 3 & 0 & 0 & 307.18 & 29.56 \\
	18 & 0 & scenario\_7.txt & 38447 & 118663 & 0 & 0 & 0 & 202.66 & 14.6 \\
	19 & 0 & scenario\_8.txt & 59840 & 184454 & 4 & 0 & 0 & 554.67 & 20.77 \\
	20 & 0 & scenario\_9.txt & 67073 & 206615 & 1 & 0 & 0 & 200.72 & 36.22 \\
\end{tabular}

14

In [71]:
using Statistics
avg=[try round(mean(c),digits=2)
    catch 
        "-"
    end 
    for c in eachcol(df)]
ch="\textbf{Average}" *" & "
for i in 1:length(avg)
    if i!=length(avg)
        ch=ch*"\textbf{"*string(avg[i])*"} & "
    else 
        ch=ch*"\textbf{"*string(avg[i])*"} \\ "
    end 
end 
ch

"\textbf{Average} & \textbf{-} & \textbf{-} & \textbf{46292.45} & \textbf{142776.65} & \textbf{1.45} & \textbf{0.0} & \textbf{0.0} & \textbf{278.68} & \textbf{17.25} \\ "

In [39]:
average(df[!,Nodes])

LoadError: UndefVarError: Nodes not defined

In [1]:
import matplotlib.pyplot as plt

LoadError: ArgumentError: Package matplotlib not found in current path:
- Run `import Pkg; Pkg.add("matplotlib")` to install the matplotlib package.